.head{
    display: flex;
    background-color: rgb(224, 224, 224);
    height: 80px;
    justify-content: center;
   
}
.head > h1{
   align-items: center;
}
.nav{
    display: flex;
  
    background-color: rgb(224, 224, 224);
    height: 80px;
    justify-content: center;
  margin-top: 10px;
}
.nav > h1{
    align-items: center;
}


.page{
    margin-top: 8px;
    background-color: rgb(235, 235, 235);
    display: flex;
   
    flex-wrap: wrap;
    height: 400px;
   
   text-align: center;
}
.item1{
    flex-grow: 1;
    border: 3px solid rgb(255, 255, 255);
    align-items: center;
}
.item2{
    flex-grow: 4;
    border: 3px solid rgb(255, 255, 255);
}
.item3{
    flex-grow: 1;
    border: 3px solid rgb(255, 255, 255);
}

.nav{
    display: flex;
  
    background-color: rgb(224, 224, 224);
    height: 80px;
    justify-content: center;
  margin-top: 10px;
}
.nav > h1{
    align-items: center;
}