.head{
    display: flex;
    background-color: rgb(224, 224, 224);
    height: 80px;
    justify-content: center;
   
}
.head > h1{
   align-items: center;
}
.nav{
    display: flex;
  
    background-color: rgb(224, 224, 224);
    height: 80px;
    justify-content: center;
  margin-top: 10px;
}
.nav > h1{
    align-items: center;
}